In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.


#A database is information that is set up for easy access, management and updating. 
#Computer databases typically store aggregations of data records or files that contain information, such as sales 
#transactions, customer data, financials and product information.


#the main difference between sql and nosql database is--

#sql is called relational database(RDBMS) while NoSql is called no-realtaional database or distributed database.

#SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph 
#databases or wide-column stores.

#SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database 
#follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance).

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


#DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema.

#CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, 
#and triggers).

CREATE table table_name
(
Column1 datatype (size),
column2 datatype (size),
.
.
columnN datatype(size)
);


#DROP: This command is used to delete objects from the database.
Examples:
DROP TABLE table_name;
table_name: Name of the table to be deleted.

#ALTER: This is used to alter the structure of the database.

ALTER TABLE Students
ADD Email varchar(255);

#TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

DROP TABLE table_name;
table_name: Name of the table to be deleted.

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.



#The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation
#Language and this includes most of the SQL statements. 


#INSERT : It is used to insert data into a table.
INSERT INTO table_name (column1, column2, column3) 

VALUES ( value1, value2, value3); table_name: 


#UPDATE: It is used to update existing data within a table.

UPDATE table_name SET column1 = value1, column2 = value2,... 
WHERE condition;

#DELETE : It is used to delete records from a database table.

DELETE FROM table_name WHERE some_condition;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

#DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to 
#get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL 
#statement that allows getting data from the database and imposing order upon it. 

#SELECT: It is used to retrieve data from the database.

SELECT column1,column2 FROM table_name 
column1 , column2: names of the fields of the table
table_name: from where we want to apply query

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

#A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a 
#given primary key value in a table. 


#A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in 
#another table.

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

#cursor() -

#The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with 
#the MySQL database.
#Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

#execute()-

#This method accepts a MySQL query as a parameter and executes the given query.

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

#Use the ORDER BY statement to sort the result in ascending or descending order.

#The ORDER BY keyword sorts the result ascending by default. To sort result in descending order, use the DESC keyword.


import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)